In [4]:
# Q.1 Explain with an example each when to use a for loop.

# For loop:
    #for loop is a looping statement used in programming language to check condition and repeatadly execute a block of code as long as the 
#condition is true.

#When to use for loop:
 #   For loop is used to repeat a specific block of code a known no of times i.e when you the loop should execute n no of times. 
    
# While loop :
 #While loop is looping statement used in python to run a block code untill the certain condition is met.
    
    
#When to use while loop:
  #  While loop is used to run a piace  of code unknown no of times.
    
    
#Example of For loop:
      # To print 1-10 no.s
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [1]:
# Example of while loop:
i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [18]:
# Q.2 Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

# Using for loop:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
    i=i+1
print("Sum","=",sum)
print("Product","=",product)

Sum = 55
Product = 3628800

In [22]:
# Using While loop:

i=1
product=1
sum=0
while i<11:
    sum=sum+i
    product=product*i
    i=i+1
print("Sum","=",sum)
print("product","=",product)

Sum = 55
product = 3628800

In [7]:
# Q.3 Create a python program to compute the electricity bill for a household .
#     The per-unit charges in rupees are as fallows : For the first 100 units ,the userr will be charged Rs. 4.5 per unit ,for the next
#     100 units ,the user will be charged Rs.6 per unit , and for the next 100 units ,the user will be charged Rs.10 per unit ,After 300
#     units and above the user will be charged Rs.20 per unit.

#     You are required to take the units of electricity consumed in a month from the user as input.

#     Your program must pass this test case :when the unit of electricity consumed by the user in a month is 310 ,the total electricity 
#     bill should be 2250.


n=int(input("Enter your units of electricity consumed="))
if n<=100:
    bill=bill+(n*4.5)
elif n>100 and n<=200:
    bill=bill+450+((n-100)*6)
elif n>200 and n<=300:
    bill=bill+1050+((n-200)*10)
else:
    bill=bill+2050+((n-300)*20)
print("Electricity bill",bill)

Enter your units of electricity consumed= 310

Electricity bill 2250

In [8]:
# Q.4 Creat a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that 
#     number is divisible by 4 or 5 then append that number that number in a list and print that list.

l=[]
for i in range(1,101):
    l.append(i)

In [9]:
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [10]:
l1=[]
for i in l:
    if i %4==0 or i%5==0:
        l1.append(i)

In [11]:
l1

[4,
 5,
 8,
 10,
 12,
 15,
 16,
 20,
 24,
 25,
 28,
 30,
 32,
 35,
 36,
 40,
 44,
 45,
 48,
 50,
 52,
 55,
 56,
 60,
 64,
 65,
 68,
 70,
 72,
 75,
 76,
 80,
 84,
 85,
 88,
 90,
 92,
 95,
 96,
 100]

In [36]:
# Q.5 Write a program to filter count vowels in the below- given string .
# string= " I want to become a data scientist"

s=" I want to become a data scientist"
s=s.lower()
l2=[]
for n in s:
    if n=='a' or n=='e' or n=='i' or n=='o' or n=='u':
        l2.append(n)

In [38]:
l2

['i', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']